[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
pygments = "*"
django-rest-swagger = "*"
drf-yasg = {extras = ["validation"], version = "*"}
djangorestframework-simplejwt = "*"
pytest-django = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.11"
